<mat-toolbar>
    <span>Product List</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" routerLink="/products/new">Add New Product</button>
</mat-toolbar>
<mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
<div class="products-grid">
    <ng-container *ngFor="let product of products">
        <mat-card class="product-card">
            <mat-card-header>
                <!-- <div mat-card-avatar class="product-card-header-image"></div> -->
                <mat-card-title>{{ product.title }}</mat-card-title>
                <mat-card-subtitle>Price: <strong>{{ product.price }}</strong></mat-card-subtitle>
            </mat-card-header>
            <div class="product-image" style="background-image: url({{product.thumbnail}});"></div>
            <mat-card-content>
                <table class="details-table">
                    <tr>
                        <td>Price</td>
                        <td align="right">{{ product.price }}</td>
                    </tr>
                    <tr>
                        <td>Rating</td>
                        <td align="right">{{ product.rating }}</td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td align="right">{{ product.category }}</td>
                    </tr>
                </table>
            </mat-card-content>
            <mat-card-actions>
                <button class="action-button" mat-button [routerLink]="['/products/edit', product.id]">Edit</button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>